*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  height: 100%
  font-family: 'Spartan', sans-serif
  overflow-x: hidden

.container
  position: absolute
  top: 140px
  
img
  display: block
  max-width: 100%
  height: auto

#bgPatternTopDesktop
  position: absolute
  top: -200px
  left: 366px
#bgPatternBottomDesktop
  position: absolute
  bottom: -180px
  left: 274px
.attribution
  font-size: 11px
  text-align: center
  position: fixed
  bottom: 0
  color: #fff
.attribution a
  color: hsl(228, 45%, 44%)
