.card-wrapper--1,
.card-wrapper--2,
.card-wrapper--3
  display: inline-block
  padding: 1.2rem
  .card.row
    background-color: hsl(300, 43%, 22%)
    width: 350px
    height: 230px
    border-radius: 8px
    display: inline-block
    .card-profile
      position: relative
      display: inline-block
      left: -60px
      top: 22px
      img
        padding: 1rem
        width: 80px
        border-radius: 60px
    .card-details
      display: inline-block
      position: relative
      top: 0
      left: -57px
      text-align: left
      line-height: 1.4
      .card-details--name
        color: #fff
      .card-details--description
        color: hsl(333, 40%, 57%)
        font-size: .9rem
    .card-copy
      p
        text-align: left
        padding: 1.8rem
        color: #fff
        font-size: .8rem
        line-height: 1.8
.card-wrapper--2
  position: relative
  top: 20px
.card-wrapper--3
  position: relative
  top: 40px
