.main--section.row
  height: auto
  padding: 1rem
  flex-direction: column
  align-items: center
  .main-heading
    min-width: 60%
    width: 50%
    & > h1
      font-size: 2.4rem
      font-weight: 700
      margin-bottom: 1rem
      color: hsl(300, 43%, 22%)
    & > p
      font-size: .9rem
      line-height: 1.6
      color: hsl(303, 10%, 53%)
    & h1,
    & p
      text-align: center
@media only screen and (min-width: 1024px)
  .main--section.row
    height: 300px
    flex-direction: row
    .main-heading
      min-width: auto
      width: 50%
      & > h1
        font-size: 2.8rem
      & h1,
      & p
        text-align: left
        width: 400px